<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBq0mCL9fC5IVljiM6Cxl3KgCA-PGbb68Q</string>
	<key>GCM_SENDER_ID</key>
	<string>813430819080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MikesApps.MikeAppFinal</string>
	<key>PROJECT_ID</key>
	<string>betlounge-ff6e1</string>
	<key>STORAGE_BUCKET</key>
	<string>betlounge-ff6e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813430819080:ios:5bf682afb304241a0a44bd</string>
</dict>
</plist>